# Shell
shell-integration = fish
shell-integration-features = no-cursor, ssh-env, sudo

# Behavior
confirm-close-surface = false
mouse-hide-while-typing = true
copy-on-select = true
resize-overlay = never

# Visual
window-padding-balance = true
unfocused-split-opacity = 0.5
cursor-style = block
cursor-style-blink = false

# Font
font-family = "JetBrains Mono"

# Keyboard
# Tabs (super = cmd on Mac, super on Linux)
keybind = super+shift+[=previous_tab
keybind = super+shift+]=next_tab
keybind = super+ctrl+[=move_tab:-1
keybind = super+ctrl+]=move_tab:1
