config-file = ~/Documents/cookbook/ghostty/base.config

# Behavior
auto-update = check
maximize = true
window-save-state = always
quit-after-last-window-closed = true

# Visual
theme = TokyoNight Storm
adjust-cell-height = 20%
window-colorspace = "display-p3"
macos-titlebar-style = "tabs"

# Font
font-size = 14

# Keyboard
macos-option-as-alt = true

# Quick terminal
quick-terminal-position = center
quick-terminal-size = 80%,80%
quick-terminal-animation-duration = 0
keybind = global:ctrl+shift+alt+super+d=toggle_quick_terminal
