# shell
shell-integration = fish
shell-integration-features = no-cursor, sudo

# behavior
auto-update = check
maximize = true
quit-after-last-window-closed = true
confirm-close-surface = false
mouse-hide-while-typing = true
notify-on-command-finish = always

# visual
theme = TokyoNight Storm
font-family = "JetBrains Mono"
font-size = 14
adjust-cell-height = 20%
window-colorspace = "display-p3"
macos-titlebar-style = "tabs"
window-padding-balance = true

# keybindings
keybind = global:cmd+backquote=toggle_quick_terminal
