theme = TokyoNight Storm
font-family = "JetBrains Nerd Font"
font-size = 15
adjust-cell-height = 10%

title = " "
macos-titlebar-proxy-icon = hidden

window-colorspace = "display-p3"
mouse-hide-while-typing = true

window-padding-x = 10
window-padding-y = 10
window-padding-balance = true

shell-integration-features = no-cursor, sudo, no-title
