auto-update = check

# theme
theme = TokyoNight Storm
font-family = "JetBrains Nerd Font"
font-size = 14
adjust-cell-height = 20%

# cleaner title bar
title = " "
macos-titlebar-proxy-icon = hidden

window-colorspace = "display-p3"

maximize = true

quit-after-last-window-closed = true
confirm-close-surface = false

mouse-hide-while-typing = true

window-padding-balance = true

shell-integration-features = no-cursor, sudo, no-title
